.nav {
    background-color: blueviolet;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.box {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #ffffff;
    width: 150px;

    mix-blend-mode: normal;
}
