@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
.title {
  font-family: 'Mulish', sans-serif;
  color: white;
  font-size: 30px;
}

.chart {
  width: 500px;
  height: 500px;
}